{{- $main := resources.Get "css/main.css" -}}
{{- $styles := slice $main -}}
{{- if not (eq site.Params.petCat false) -}}
  {{- with resources.Get "css/pet-cat-fishing.css" -}}
    {{- $styles = $styles | append . -}}
  {{- end -}}
{{- end -}}
{{- $css := $styles | resources.Concat "css/bundle.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{ with site.Params.accent }}<style>:root{--accent: {{ . }};}</style>{{ end }}

